<div
  class="flex flex-col sm:flex-row-reverse sm:justify-between sm:items-center bg-accent-brand-light p-8 rounded-2xl gap-7"
>
  <img src="images/icon-hand-coding.svg" class="w-[105px]" />
  <div class="flex flex-col gap-4">
    <div>
      <h1 class="font-bold text-2xl">Bem vinda de volta, Jennie</h1>
      <p class="text-text-paragraph">Não se esqueça de atualizar as tarefas</p>
    </div>
    <button
      class="flex gap-2 bg-accent-brand py-3 px-4 rounded-xl shadow-[0_4px_20px_#2A89EF66] transition-all duration-75 w-fit hover:bg-accent-brand-dark hover:cursor-pointer active:translate-y-1"
    >
      <img src="images/icon-plus-circle.svg" class="w-4" />
      <span class="font-semibold text-sm text-text-invert">Criar uma tarefa</span>
    </button>
  </div>
</div>
