@let todoTasks = (this._taskService.todoTasksObservable | async) ?? [];
@let doingTasks = (this._taskService.doingTasksObservable | async) ?? [];
@let doneTasks = (this._taskService.doneTasksObservable | async) ?? [];
@let noTasksCreated = todoTasks.length === 0 && doingTasks.length === 0 && doneTasks.length === 0;

<div class="flex mb-8 overflow-x-auto">
  <div
    class="flex-1 py-3 px-6 min-w-60 flex flex-col gap-6"
    id="to-do-column"
    cdkDropList
    #todoListCdkDropList="cdkDropList"
    [cdkDropListData]="todoTasks"
    [cdkDropListConnectedTo]="[doingListCdkDropList, doneListCdkDropList]"
    (cdkDropListDropped)="onCardDrop($event)"
  >
    <div class="py-2 border-b border-border-light flex items-center gap-1">
      <h1 class="font-semibold">A fazer</h1>
      <span class="text-xs font-semibold bg-text-heading text-text-invert py-1 px-2 rounded-xl">
        {{ todoTasks.length }}
      </span>
    </div>
    <div class="flex flex-col gap-4">
      @for (todoTask of todoTasks; track todoTask.id) {
        <app-task-card cdkDrag [cdkDragData]="todoTask" [task]="todoTask" />
      }
    </div>
  </div>
  <div
    class="flex-1 py-3 px-6 min-w-60 flex flex-col gap-6"
    id="doing-column"
    cdkDropList
    #doingListCdkDropList="cdkDropList"
    [cdkDropListData]="doingTasks"
    [cdkDropListConnectedTo]="[todoListCdkDropList, doneListCdkDropList]"
    (cdkDropListDropped)="onCardDrop($event)"
  >
    <div class="py-2 border-b border-border-light flex items-center gap-1">
      <h1 class="font-semibold">Fazendo</h1>
      <span class="text-xs font-semibold bg-accent-orange text-text-invert py-1 px-2 rounded-xl">
        {{ doingTasks.length }}
      </span>
    </div>
    <div class="flex flex-col gap-4">
      @for (doingTask of doingTasks; track doingTask.id) {
        <app-task-card cdkDrag [cdkDragData]="doingTask" [task]="doingTask" />
      }
    </div>
  </div>
  <div
    class="flex-1 py-3 px-6 min-w-60 flex flex-col gap-6"
    id="done-column"
    cdkDropList
    #doneListCdkDropList="cdkDropList"
    [cdkDropListData]="doneTasks"
    [cdkDropListConnectedTo]="[todoListCdkDropList, doingListCdkDropList]"
    (cdkDropListDropped)="onCardDrop($event)"
  >
    <div class="py-2 border-b border-border-light flex items-center gap-1">
      <h1 class="font-semibold">Concluído</h1>
      <span class="text-xs font-semibold bg-accent-green text-text-invert py-1 px-2 rounded-xl">
        {{ doneTasks.length }}
      </span>
    </div>
    <div class="flex flex-col gap-4">
      @for (doneTask of doneTasks; track doneTask.id) {
        <app-task-card cdkDrag [cdkDragData]="doneTask" [task]="doneTask" />
      }
    </div>
  </div>
</div>

@if (noTasksCreated) {
  <div class="bg-bg-surface rounded-sm py-3 px-5 border-l-4 border-black">
    <p class="font-semibold text-lg text-text-span">Nenhuma tarefa disponível no momento.</p>
  </div>
}
