<div class="bg-bg-surface p-3 rounded-xl cursor-grab flex flex-col gap-3">
  <div class="flex gap-1">
    <p class="font-semibold line-clamp-2">{{ task.name }}</p>
    <img class="self-start cursor-pointer ml-auto" src="images/icon-delete.svg" (click)="deleteTask()" />
  </div>
  <p class="font-light text-sm text-text-paragraph line-clamp-2">
    {{ task.description }}
  </p>
  <div class="flex items-center gap-1">
    <img src="images/icon-comments.svg" />
    <p
      class="font-semibold text-xs text-accent-brand underline underline-offset-2 cursor-pointer"
      (click)="openTaskCommentsModal()"
    >
      {{ task.comments.length }} Comentários
    </p>
    <p
      class="font-semibold text-xs text-text-span underline underline-offset-2 cursor-pointer ml-auto"
      (click)="openEditTaskModal()"
    >
      Editar
    </p>
  </div>
</div>
