<header class="w-full bg-bg-surface border-b-1 border-border-light">
  <div class="max-w-7xl flex justify-between items-center py-3 px-6 mx-auto">
    <div>
      <img src="images/icon-logo.svg" />
    </div>
    <nav class="flex gap-6">
      <button class="flex items-center justify-center bg-bg-light p-2 rounded-xl">
        <img src="images/icon-notification.svg" class="w-4" />
      </button>
      <div class="flex items-center">
        <img src="images/icon-user-avatar.svg" class="w-7" />
        <span class="font-semibold ml-2 mr-3">Jennie K.</span>
        <button>
          <img src="images/icon-sign-out.svg" class="w-4" />
        </button>
      </div>
    </nav>
  </div>
</header>
