<form class="rounded-xl overflow-hidden bg-bg-light">
  <div class="flex gap-1 items-center p-4">
    <img src="images/icon-new-task.svg" />
    <h1 class="font-semibold text-lg">{{ _data.mode === 'create' ? 'Criar' : 'Editar' }} tarefa</h1>
    <img src="images/icon-close.svg" class="ml-auto cursor-pointer" />
  </div>
  <div class="p-4 border-y border-border-light flex flex-col gap-4">
    <div>
      <p class="font-semibold text-sm mb-2">Nome</p>
      <input
        class="w-full border border-border-light p-3 rounded-lg text-sm font-light text-"
        type="text"
        placeholder="Descreva o que deverá ser feito"
      />
      <p class="font-semibold text-sm text-red-500">
        O campo é obrigatório e precisa ter no mínimo 10 caracteres.
      </p>
    </div>

    <div>
      <p class="font-semibold text-sm mb-2">Descrição</p>
      <input
        class="w-full border border-border-light p-3 rounded-lg text-sm font-light text-"
        type="text"
        placeholder="Adicione uma descrição"
      />
      <p class="font-semibold text-sm text-red-500">
        O campo é obrigatório e precisa ter no mínimo 10 caracteres.
      </p>
    </div>
  </div>
  <div class="p-4 flex justify-end gap-2">
    <button
      class="py-3 px-4 bg-bg-surface rounded-xl text-sm font-semibold cursor-pointer active:translate-y-1 transition-all duration-75 hover:bg-bg-dark"
      type="button"
    >
      Cancelar
    </button>
    <button
      class="bg-accent-brand py-3 px-4 rounded-xl shadow-[0_4px_20px_#2A89EF66] transition-all duration-75 w-fit hover:bg-accent-brand-dark hover:cursor-pointer active:translate-y-1 text-text-invert"
      type="submit"
    >
      {{ _data.mode === 'create' ? 'Criar uma tarefa' : 'Salvar alterações' }}
    </button>
  </div>
</form>
