@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,62..125,100..900;1,62..125,100..900&display=swap');
@import "tailwindcss";

html {
    font-family: "Archivo", sans-serif;
}
